*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.xml
*.xml
.idea/material_theme_project_new.xml
.idea/kotlinc.xml
.idea/gradle.xml
.idea/compiler.xml
/.idea
*.dm
*.apk
/.idea
/app/release
/.idea
.idea/material_theme_project_new.xml
